.loginButton {
	background-color: #ff0b79 !important;
	border-color: #ff0b79 !important;
}

.form-control:focus {
	box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%) !important;
}

.smallText {
	font-size: 14px;
}

.footerLinks {
	text-decoration: none;
	color: #fff;
}

.footerLinks:hover {
	color: #ff0b79;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
	#profile {
		flex-direction: column !important;
	}

	#profile-left {
		width: 100% !important;
	}

	#profile-right {
		width: 100% !important;
	}
	#footerResp {
		display: flex !important;
		flex-direction: column !important;
		height: 100% !important;
	}
	.footerSpacing {
		margin-top: 2rem !important;
	}
}

@media screen and (max-width: 1150px) {
	#profile-left {
		min-width: 50% !important;
	}

	#profile-right {
		min-width: 50% !important;
	}
}
